<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SVN Checkout GUI</title>
</head>
<body>
{% if show_search %}
<form action="/" method="post">
    Поиск архивов<br />
    с
    <select name = "year_from">
        {% for year in year_list -%}
            <option value = '{{year}}'>{{year}}</option>
         {% endfor -%}
    </select>
    <select name = "month_from">
        {% for month in month_list -%}
            <option value = '{{month}}'>{{month}}</option>
         {% endfor -%}
    </select>
    <select name = "day_from">
        {% for day in days_list -%}
            <option value = '{{day}}'>{{day}}</option>
         {% endfor -%}
    </select>
    по
    <select name = "year_to">
        {% for year in year_list -%}
            <option value = '{{year}}'>{{year}}</option>
         {% endfor -%}
    </select>
    <select name = "month_to">
        {% for month in month_list -%}
            <option value = '{{month}}'>{{month}}</option>
         {% endfor -%}
    </select>
    <select name = "day_to">
        {% for day in days_list -%}
            <option value = '{{day}}'>{{day}}</option>
         {% endfor -%}
    </select>
{% endif %}
    <br />
    <input type="submit" value="Submit">
</form>
<style type="text/css">
    table {
        border-collapse: collapse;
    }
    table th,
    table td {
        padding: 0 5px;
        border: 1px solid #000;
        text-align: center;
    }
</style>
   <table>
        {{ text|safe }}
   </table>
</body>
</html>